<!DOCTYPE html>
<html ng-app='coflowDev'>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link href="css/styles.css" rel="stylesheet" />
    
  </head>
  <body ng-controller="AddGoalController as AddGoalCtrl">
      
      <navbar></navbar>
      
      <div class="container">
        <div class="form-group center-block">
            <form name="goalForm" novalidate ng-submit="submitForm()"> 

                    <h4>Define mission</h4>
                    <p class="questionTitle">Type</p>
                    <select ng-init="getName()" class = "text1" name="goalName" ng-model="urlparams.goal_id" required>
                      <option ng-repeat="goal in goals.availableNames.results" value="{{goal.id}}">{{goal.name}}</option>
                    </select>
                    <span ng-show="goalForm.goal.$error.required">{{errorGoalName}}</span>


                <p class="questionTitle">Would you mind telling what exactely do you want to achieve?</p>
                <input class = "text1" name="what" ng-model = "goal.what" required></input>
                <!--<span ng-show = "goalForm.what.$error.required">*</span>-->
                <span ng-show="goalForm.what.$error.required">{{errorWhat}}</span>
                
                <p class="questionTitle">Inspire us! Tell us why this mission is so important to you:</p>
                <input class = "text1" name="why" ng-model = "goal.why" required></input>

                
                <p class="questionTitle">Did you set yourself a deadline?</p>
                <input class = "text1" name = "deadline" type = "date" ng-model = "goal.deadline" required></input>

                <p class="questionTitle">How about visibility of your mission?</p>
                    <select ng-init="getVisibility()" class = "text1" name = "visibility" ng-model = "goal.visibility" required>
                        <option ng-repeat="visibility in visibilities.availableNames"
                                value="{{visibility.id}}">{{visibility.name}}</option>
                    </select>
                    <span ng-show="goalForm.visibility.$error.required">{{errorVisibility}}</span>
                <br><br>

    
                <p class="questionTitle">Upload photo for your goal</p>
                <input type="file" class="file" name="photo" ng-model = "goal.bckgimage"></input>
               
                
                <input class = "btn" type = "submit" value = "Let's get it started!" />
            </form>
        </div>
      </div>
    
      
      <script type="text/javascript" src="js/angular/1.4.7/angular.min.js"></script>
      <script type="text/javascript" src="js/angular/1.4.7/angular-resource.min.js"></script>
      <script type="text/javascript" src="js/angular/1.4.7/angular-mocks.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      
      <script type="text/javascript" src="js/testbed/httpbackend.js"></script>
        <script type="text/javascript" src="js/angular/1.4.7/angular-mocks.js"></script>
        <script type="text/javascript" src="js/resource.js"></script>
        <script type="text/javascript" src="js/consts.js"></script>
        <script type="text/javascript" src="js/directives.js"></script>
        <script type="text/javascript" src="js/navapp.js"></script>
        <script type="text/javascript" src="js/dashboardapp.js"></script>
        <script type="text/javascript" src="js/goalCollapp.js"></script>
        <script type="text/javascript" src="js/addGoalapp.js"></script>
        <script type="text/javascript" src="js/goalPageapp.js"></script>
      
  </body>
</html>