
<!DOCTYPE html>
<html ng-app="coflowDev">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet" />
    
</head>
<body>

    <navbar></navbar>
    
    <div class="container">
        <div class="center-block">
            <form name="locationForm" ng-controller="SearchForm" ng-submit="submitForm()" ng-init = "getLocation()" novalidate>
                <h4>Where are you from?</h4>
                <p>Your current loation: {{locationstring}}</p>
                <google-places location=location></google-places>
                <span ng-show="locationForm.google_places_ac.$error.required">{{errorLocation}}</span>
                <br><br>
                <button ng-click="doSearch()" class="btn" type="submit" value="Submit">Submit</button>
            </form>
        </div>
    </div>
   
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&libraries=places&language=en-US"></script>
    <script type="text/javascript" src="js/testbed/httpbackend.js"></script>
    <script type="text/javascript" src="js/angular/1.4.7/angular-mocks.js"></script>
    <script type="text/javascript" src="js/resource.js"></script>
    <script type="text/javascript" src="js/consts.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/navapp.js"></script>
    <script type="text/javascript" src="js/dashboardapp.js"></script>
    <script type="text/javascript" src="js/goalCollapp.js"></script>
    <script type="text/javascript" src="js/addGoalapp.js"></script>
    <script type="text/javascript" src="js/goalPageapp.js"></script>
    
</body>
</html>