<!DOCTYPE html>
<html ng-app='coflowDev'>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link href="css/styles.css" rel="stylesheet" />
    
  </head>
  <body ng-controller="GoalPageController">
      
      <navbar></navbar>
      
      <div class = "container" ng-init = "getGoalData()">
        <h4>These are your goals</h4>
        <div class = "row goalDiv" ng-repeat = "g in meGoals">
          <div class="col-md-6">{{g.what}}</div>
          <div class="col-md-3 deadline">{{g.deadline}}</div>
          <div class="col-md-3"><button class="btn transparentButton" ng-click = "show = 1">Details</button></div>
            <div class="col-md-6 why" ng-show = "show == 1">
                Why? 
                <br> 
                {{g.why}}
                <br><br>
            </div>
          
          </div>
      </div>
      
     
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular/1.4.7/angular-mocks.js"></script>
    <script type="text/javascript" src="js/consts.js"></script>
    <script type="text/javascript" src="js/testbed/httpbackend.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/resource.js"></script>
    <script type="text/javascript" src="js/navapp.js"></script>
    <script type="text/javascript" src="js/dashboardapp.js"></script>
    <script type="text/javascript" src="js/goalCollapp.js"></script>
    <script type="text/javascript" src="js/goalPageapp.js"></script>
    <script type="text/javascript" src="js/addGoalapp.js"></script>
      
  </body>
</html>