<!DOCTYPE html>
<html ng-app = 'coflowDev'>
<head>
    <link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    
    
</head>
<body>

    <navbar></navbar>
    <div class="container">
    <div ng-controller = "GoalCollaboratorsController" class = "row" ng-init = "getGoalCollaborators()">
        <h4>These are people who collaborate with you on this mission: </h4>
        <div class="whatIswhat">
                <div class="col-md-2"><h5><img class="ic" src = "images/name.png"></h5></div>
                <div class="col-md-2"><h5><img class="ic" src = "images/role.png"></h5></div>
                <div class="col-md-2"><h5><img class="ic" src = "images/location.png"></h5></div>
                <div class="col-md-2"><h5><img class="ic" src = "images/contact.png"></h5></div>
                <div class="col-md-2"><h5><img class="ic" src = "images/edit.png"></h5></div>
        </div>
        <br><br><br>
        <div class = "row" ng-repeat = "coll in goalCollaborators"  ng-switch="$even"
                                                                    ng-class-even="'even'"
                                                                    ng-class-odd="'odd'">
            
            <br>
            <div class="">
                <li class = "collName">
                    <div class="col-md-2">{{coll.person.firstname}} {{coll.person.lastname}}</div>
                    <div class="col-md-2">{{coll.role}}</div>
                    <div class="col-md-2"> {{coll.location}}</div>
                    <div class="col-md-2"> {{coll.contact}}</div>
                </li>
            </div>
            
            
             <div class="dropdown col-md-4">
              <a href class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 <img class="ic" src="images/glyphicons-114-justify.png">
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click = "show = 1" value = "Change role">Change role</a></li>
                <li><a href="#" ng-click = "show = 3" value = "Review">Review</a></li>
                <li><a href="#" ng-click = "show = 4" value = "Report">Report</a></li>
                <li><a href="#" ng-click = "show = 5" value = "Delete">Delete this collaborator</a></li>
                <li><a href="#" ng-click = "show = false" value = "Hide">Hide edit</a></li>
              </ul>
            </div>
            <br>
            
            <div class="col-md-12">
                <p>Your matching goals: </p>
                <div class="matchingGoals" ng-repeat = "matchingG in coll.matchingGoals">{{matchingG.name}}</div>
                <p>Your matching skills: </p>
                <div class="matchingSkills" ng-repeat = "matchingS in coll.matchingSkills" >{{matchingS.name}}</div> 
            </div>

            
            <div class = "roleColl col-md-8" ng-show = "show == 1">
                <form name="roleForm" novalidate ng-submit="changeRoles()" ng-hide="roleForm.$submitted">
                    <br>
                    <p>Change role of: {{coll.person.firstname}}
                    <select class="selectOption" name="txt" ng-model = "coll.role" required>
                        <option>Guru</option>
                        <option>Fellow</option>
                    </select>
                    <span ng-show = "roleForm.txt.$error.required">{{errorMessage}}</span>
                    </p>
                    <p>{{coll.person.firstname}} is a Consiliere! <input type="checkbox" name="consiliere" ng-model="coll.iscounselor"></p>
                    <span ng-show="roleForm.why.$error.required">{{errorMessage}}</span>
                    <input class = "btn btnWhite selectOption" type = "submit" value = "Submit" />
                </form>
            <br><br>
            </div>
            
            <div class = "reviewColl col-md-8" ng-show = "show == 3">
                <form name="reviewForm" novalidate ng-submit="reviewCollaborator()">
                    <br>
                    <p>Write a short review about: {{coll.person.firstname}}</p>
                    <input class = "text2" name="txt" ng-model = "coll.review" required></input>
                    <span ng-show="reportForm.why.$error.required">{{errorWhy}}</span>
                    <input class = "btn btnWhite" type = "submit" value = "Submit" />
                </form>
            <br><br>
            </div>
            
            
            <div class = "reportColl col-md-8" ng-show = "show == 4">
                <form name="reportForm" novalidate ng-submit="reportCollaborator()">
                    <br>
                    <p>Why do you want to report this Collaborator?</p>
                    <input class = "text2" name="why" ng-model = "coll.report" required></input>
                    <span ng-show="reportForm.why.$error.required">{{errorWhy}}</span>
                    <input class = "btn btnWhite" type = "submit" value = "Submit" />
                </form>
            <br><br>
            </div>
        
            <div class = "deleteColl col-md-8" ng-show = "show == 5">
                <form name="deleteForm" novalidate ng-submit="deleteCollaborator()">
                    <br>
                    <p>Are you sure that you want to end your collaboration with {{coll.person.firstname}} ?</p>
                    <input class = "btn btnWhite" type = "submit" value = "Yes" ng-click = "showmsg = true" />
                    
                    <p ng-show = "showmsg"><br>You've successfully deleted {{coll.person.firstname}} from the list of collaborators</p>
                </form>
            <br><br>
            </div>
   
    </div>
</div>
    
    <br><br>
    
<div class="candidates row" ng-controller = "CandidatesController" ng-init = "getCandidates()">
    <div class="row">
        <h4>These are worthwhile local people relevant for your mission: </h4>
        <p>Filter by:</p>
        <button class="btn" ng-click="myFilter = {type: 1}">Best match</button> 
        <button class="btn" ng-click="myFilter = {type: 2}">Distance</button> 
        <button class="btn" ng-click="myFilter = {type: 3}">Matching skills</button> 
        <div class="dropdown dropFilter">
            <button class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Activness</button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click = "myFilter = {type: 4}">Last time online</a></li>
                <li><a href="#" ng-click = "myFilter = {type: 5}">Last time answered</a></li>
            </ul>
        </div>
    </div>
    <br> <br>
    <div class="row" ng-repeat = "cand in candidates" ng-switch="$even"
                                                      ng-class-even="'even'"
                                                      ng-class-odd="'odd'">
        <div class="">
            <br>
        <li class = "collName">
            <div class="col-md-4">{{cand.person.firstname}} {{cand.person.lastname}}</div>
            <div class="col-md-4"> {{cand.location}}</div>
            <div class="col-md-4"><button class="btn btnWhite" ng-click = "invite()">Invite</button></div>
        </li>
        <div class="col-md-12">
            <p>Your matching goals: </p>
            <div class="matchingGoals" ng-repeat = "matchingG in cand.matchingGoals">{{matchingG.name}}</div>
            <p>Your matching skills: </p>
            <div class="matchingSkills" ng-repeat = "matchingS in cand.matchingSkills" >{{matchingS.name}}</div> 
        </div>
        </div>
        
    </div>
    
</div> 
</div>
    
    
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/testbed/httpbackend.js"></script>
    <script type="text/javascript" src="js/angular/1.4.7/angular-mocks.js"></script>
    <script type="text/javascript" src="js/resource.js"></script>
    <script type="text/javascript" src="js/consts.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/navapp.js"></script>
    <script type="text/javascript" src="js/dashboardapp.js"></script>
    <script type="text/javascript" src="js/goalCollapp.js"></script>
    <script type="text/javascript" src="js/addGoalapp.js"></script>
    <script type="text/javascript" src="js/goalPageapp.js"></script>
</body>
</html>