<!DOCTYPE html>
<html lang="en" ng-app='fb'>
<head>
    <meta charset="UTF-8">
    <title>FB login</title>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet" />
    <link href="bootstrap-3.3.5-dist/css/bootstrap-social.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
</head>
<body ng-controller="UserCtrl as UserCtrl">
    
    <navbar></navbar>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/consts.js"></script>
    <script type="text/javascript" src="js/angular/1.4.7/angular.min.js"></script>
     <script type="text/javascript" src="js/directives.js"></script>
      <script type="text/javascript" src="js/navbarapp.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js"></script>
    <script type="text/javascript" src="js/socialauth.js"></script>

    <div class="container">
        <div id="fb-root">
             <a class="btn btn-block btn-social btn-facebook" ng-click="login_fb()">
             <span class="fa fa-facebook"></span>  Login with Facebook
            </a>
             <a class="btn btn-block btn-social btn-facebook" ng-click="get_skills()">Get skills</a>
        </div>
    </div>

    </body>
</html>