 <div class="container">

    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">COFLOW</a>
        </div>
        <div>
          <ul class="nav navbar-nav" >
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="showProfile.html">My profile</a></li>
            <li><a href="goalPage.html">My goals</a></li> 
            <li><a href="addgoal.html">Add Goals</a></li> 
            <li><a href="goalCollaborators.html">Collaborators</a></li> 
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="signUp.html">Sign Up</a></li>
            <li><a href="login.html">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

</div>