
.navbar{
border-color: white;
border-bottom-color: black;
}

.navbar a{
color: black;
background-color: white;
    
opacity: 1;
transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-webkit-transition: opacity .5s ease-in-out;
}

.navbar .nav a:hover{
color: black;
font-weight: bold;
background-color: white;
opacity: 0.3;
}

.form-group{
    float: none;
    margin: 0 auto;
}

.text1{
    width: 40%;
}

.center-block {
    text-align: center !important;
}

.ic{
    width: 20px;
}

.text2{
    width: 40%;
    height: auto;
}

.collName{
    list-style-type: none;
    color: '#1D1F20';
    font-size: 18px;
    font-family: 'Lato';
}

.bl{
    display: inline-block;
}

.whatIswhat h5{
    color: #747884;
}

.even {
    background-color: #c0c1c4;
    color: #555555;
}
.odd{
    background-color: #e0e0e0;
    color: #555555;
}

.selectOption{
    color: black;
}

.matchingSkills{
    border: 1px solid #41a397;
    color: #41a397;
    display: inline-block;
    padding: 2px;
    margin: 5px;
    font-size: 12px;
    text-align: center;
}

.matchingGoals{
    border: 1px solid #992fbc;
    color: #992fbc;
    display: inline-block;
    padding: 2px;
    margin: 5px;
    font-size: 12px;
    text-align: center;
}

.btnWhite{
    background-color: white;
}

.dropFilter{
    display: inline-block;
}

.questionTitle{
    font-size: 15px;
}

.deadline{
    color: #911e1e;
}

.transparentButton{
    background-color: white;
}

.transparentButton:hover{
    background-color: white;
    font-weight: bold;
}

.why{
    font-style: italic;
}